@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,700&display=swap');

/*Animations*/
@keyframes slideInLeft {
    from {
        transform: translateX(-100px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0);
    }
}

.slideInUp {
    animation: slideInUp 1.5s ease-out;
}

.slideInLeft {
    animation: slideInLeft 1s ease-in;
}

/*Utilizables*/

.hidden {
    display: none;
}

.hide {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-300px);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}

/*Estilos*/

:root{
    --padding-container: 90px 0;
    --color-title: #001A49;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 150vh;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 10vh;
    min-height: 50px;
    max-height: 100px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}



.nav{
    padding-left: 10%;
    padding-right: 10%;
   --padding-container: 0; 
   height: 10vh;
   display: flex;
   align-items: center;
   background-color: #164950;
}

.nav__title{
    font-weight: 300;
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items{
    list-style: none;
}

.nav__links{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    position: relative;
}

.nav__links::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav__links:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img{
    display: block;
    width: 30px;
}

.nav__close{
    display: var(--show, none);
}


/*Pie de pagina*/
.footer {
    margin: 0 auto; 
   height: 40vh;
   display: flex;
   align-items: center;
   background-color: #164950;
   width: 100%;
}

.footer__table {
    width: 100em;
    height: 30vh;
    display: flex;
    align-items: center;
    text-align: center;
    border-collapse: collapse;
    color: white;
}

th, td {
    padding: 7px;
    width: 100em;
}

.social_media {
    width: 45px;
    height: 45px;
}


/*CONTENIDO*/
#Noticias {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: blue;
    position: relative;
}

#Miembros {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: blue;
    position: relative;
}

#Trabajos {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 150vh;
}

#Contacto {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: blue;
    position: relative;
}

#Nosotros {
    width: 100%;
    height: 100%; 
    margin: 0 auto;
}

/*Contenido del INICIO*/
.inicio__container{
    width: 100%;
    height: 100vh;

    max-height: 700px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
    padding-top: 50vh;
    padding-left: 10vh;
}

.inicio__container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../images/posgrado.jpeg);
    background-size: cover;
    z-index: -1;
}

.inicio__title{
    font-size: 3rem;
}

.inicio__paragraph{
    font-size: 1.3em;
    font-weight: 100;
}

.subtitle2{
    font-size: 1.8rem;
}
/*inicio news*/    
.news{
    text-align: left;
    }

    .news__image:hover {
        transform: translateY(-20px);
        opacity: 0.7;
        transition: transform 0.8s, opacity 0.8s;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    }
    
    .articles__news {
        padding-top: 60px;
        display: grid;
        line-height: 3em;
        width: 150vh;
        margin: 0 auto;
        gap: 4em;
        overflow: hidden;
        grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    }
    
    .about__paragraph{
        line-height: 1.5;
    }
    
    .news__image{
        display: grid;
        gap: 1em;
        justify-items: center;
        width: 360px;
        overflow: hidden;
        margin: 0 auto;
    }
/*inicio investigacion*/

    .investigaciones__container{
        padding-top: 60px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 4em;
        align-items:flex-start;
    }

    .investigaciones__paragraph{
        line-height: 1.7;
        margin-bottom: 15px;
        text-align: left;
    }
    .investigaciones__picture{
        max-width: 600px;
    }

    .investigacion__img{
        width: 100%;
        display: block;
    }

    .investigacion__img:hover {
        transform: translateY(-20px);
        opacity: 0.7;
        transition: transform 0.8s, opacity 0.8s;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    }

    /*Contenido de TRABAJOS*/
    #main__trabajos{
        width: 75%;
        float: left;
    }
    .sidebar {
        width: 25%;
        float: left;
        position: relative;
        width: 15rem; /* ancho de la barra de navegación */
        height: 400px; /* altura de la barra de navegación */
        left: 0; /* alinear a la izquierda */
        top: 2em; /* alinear arriba */
      }
      .aside__list{
        margin-left: auto;
        padding: 0;
        }
      
      .sidebar__item{
        line-height: 2em;
        list-style: none;
        padding: 10px; /* agregar relleno a los elementos de la lista */
        border-bottom: 1px solid #ccc; /* agregar borde inferior a los elementos de la lista */
      }
      
      .aside__links{
        text-decoration: none;
        color: #000000;
        display: inline-block;
        position: relative;
    }
    
    .aside__links::after{
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #000000;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    
    .aside__links:hover::after{
        transform: scaleX(1);
        transform-origin: bottom left;
    }
/*contenedor de la informacion de los trabajos*/
    #main__trabajos{
        justify-content: right;
        display: flex;
    }

    .info__container{
        padding-top: 60px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: .5em;
        align-items:flex-start;
    }

    .info__paragraph{
        line-height: 1.7;
        margin-bottom: 15px;
        text-align: left;
    }

    .info__picture{
        max-width: 200px;
    }

    .info__img{
        width: 100%;
        display: block;
    }

    .info__img:hover {
        transform: translateY(-20px);
        opacity: 0.7;
        transition: transform 0.8s, opacity 0.8s;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    }

    .titulo__descripcion {
        width: 100%;
        position: relative;
        top: 20%;
    }
    
    .info__trabajo{
        width: 90%;
    }

/*Contenido del nosotros*/
.nosotros__container {
    margin: 0 auto;
    height: 100%; 
    display: flex;
    width: 100%;
}

.nosotros__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.nosotros__nav {
    display: block;
    width: 10em;
    height: 11em;
    margin-top: 2.5em;
    box-shadow: 2px 2px 5px 1px grey;
    margin-left: 0.5em;
    padding-top: 1em;
    text-align: center;
}

.nosotros__links {
    display: grid;
    place-items: center;
    text-decoration: none;
    color: black;
    position: relative;
    transition: transform 0.3s, opacity 400ms ease;
}

.nosotros__nav:hover > .nosotros__links {
    opacity: 0.3;
}

.nosotros__nav:hover > .nosotros__links:hover {
    transform: translateY(-5px);
    text-decoration-style: double;
    opacity: 1;
}

.hr__nav {
    width: 8em;
    margin: 1em;
}

.nosotros__imagen{
    width: 28.5em;
    height: 25em;
    display: flex;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.quienes__container {
    display: flex;
    margin-top: 2.5em;
}

.quienes__p {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: calc(35em - 20px);
    margin-left: 1em;
}

.quienes__paragraph {
    margin-bottom: 12em;
    margin-top: 8em;
    width: 33em;
}

.mision__container {
    display: flex;
    margin-top: 2.5em;
}

.mision__p {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: calc(35em - 15px);
    margin-right: 1em;
}

.vision__imagen{
    width: 32.5em;
    height: 22em;
    display: flex;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.vision__paragraph {
    margin-bottom: 12em;
    margin-top: 8em;
    width: 32em;
}

.ubi__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ubicacion {
    margin-bottom: 5em;
    border-radius: 50px;
}

.ubicacion__titulo {
    text-align: center;
    margin-bottom: 2.5em;
    margin-top: 1em;
}

.origen__container {
    display: grid;
    place-items: center;
    text-align: center;
    padding: 1.5em;
}

.origen__paragraph {
    margin-top: 5em;
}

.nombre__container {
    text-align: center;
    margin-top: 2em;
}

.nombres {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    width: 60em;
    margin-top: 3em;
    margin-bottom: 2.5em;
}

.nombre {
    margin-left: 10em;
}

.logos {
    width: 25em;
    height: 25em;
    margin-top: 1em;
}

.separacion {
    flex-wrap: nowrap;
    width: 95%;
    margin-left: 1em;
}

#Universidad {
    text-align: center;
}

.universidad__container {
    margin-top: 2em;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.UABC__logo {
    width: 30em;
    height: 40em;
}

.p__rector {
    margin-top: 4em;
    width: 35em;
}