@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,700&display=swap');

/*------------------- Animations -----------------*/

@keyframes slideInLeft {
    from {
        transform: translateX(-100px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0);
    }
}

.slideInUp {
    animation: slideInUp 1.5s ease-out;
}

.slideInLeft {
    animation: slideInLeft 1s ease-in;
}

/* Reutilizables */
.titulo {
    text-align: center;
    margin-top: 3%;
    font-weight: 500;
}

.hide {
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-300px);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(2);
    transform: translate(0);
}

.hidework {
    opacity: 0;
    transition: all 5s;
    filter: blur(5px);
    transform: translateY(200px);
}

.showwork {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}

/*------------------ Estilos -----------------*/

.container {
    width: 150vh;
    margin: 0 auto;
    overflow: hidden;
    padding: 90px 0;
}

.hero {
    width: 100%;
    height: 10vh;
    min-height: 50px;
    max-height: 100px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}


/*----------------- CONTENIDO -----------------------
#Noticias {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: blue;
    position: relative;
}

#Miembros {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: blue;
    position: relative;
}

#Contacto {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#Nosotros {
    width: 100%;
    height: 100%; 
    margin: 0 auto;
}*/

/*//////////////// Contenido del INICIO ///////////////////*/
.inicio__container {
    width: 100%;
    height: 100vh;

    max-height: 700px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
    padding-top: 50vh;
    padding-left: 10vh;
}

.inicio__container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../images/varias/posgrado.jpeg);
    background-size: cover;
    z-index: -1;
}

.inicio__title {
    font-size: 2rem;
}

.inicio__paragraph {
    font-size: 1.5rem;
    font-weight: 100;
}

.subtitle2 {
    font-size: 1.5rem;
}

.subtitle3 {
    font-size: 1rem;
}

.about__paragraph {
    font-size: 0.5rem;
    line-height: 1.5;
}

/*index news*/
.news {
    text-align: left;
}

.articles__news {
    height: auto;
    max-height: 100%;
    padding-top: 60px;
    display: grid;
    line-height: 1.7em;
    margin: 0 auto;
    gap: 4em;
    overflow: hidden;
    grid-template-columns: repeat(3, 1fr);
}

.new__card {
    display: grid;
    width: 100%;
    height: 100%;
    gap: 1em;
    background-color: #fff;
    cursor: default;
    transition: all 400ms ease;
    grid-template-rows: 1fr auto;
}


.news__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    margin: 0 auto;
}

.news__image:hover {
    transform: translateY(-20px);
    opacity: 0.7;
    transition: transform 0.8s, opacity 0.8s;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}

.new__paragraph {
    text-align: center;
    width: 100%;
}


/*inicio investigacion*/

.investigaciones__container {
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 4em;
    align-items: flex-start;
}

.investigaciones__paragraph {
    line-height: 1.7;
    margin-bottom: 15px;
    text-align: left;
}

.investigaciones__picture {
    max-width: 600px;
}

.investigacion__img {
    width: 100%;
    display: block;
}

.investigacion__img:hover {
    transform: translateY(-20px);
    opacity: 0.7;
    transition: transform 0.8s, opacity 0.8s;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}

/*Inicio carrusel*/


.carousel{
    justify-content: center;
    width: 100%;
    height: 100%;
}

.slide{
    width: 50%;
    height: 100%;
    left: 25%;
}
.carousel-control-prev, .carousel-control-next{
    width: fit-content;
    height: fit-content;
    background-color: #000000;
}
.carousel-control-prev:hover, .carousel-control-next:hover{
    background-color: #121815;
}

.carousel-caption{
 background-color: rgba(7, 6, 6, 0.432);
 width: 100%;
 height: 10%;
 left: 0%;
}

.carousel-name{
    color: #ffffff;
    font-size: 30px;
}

.carousel-item {
    width: 100%;
    height: 700px; /* o cualquier otro valor que funcione para tus imágenes */
  }

.miembros-title{
    text-align: center;
}


/*////////// Contenido de TRABAJOS /////////////*/
#main__trabajos {
    width: 75%;
    float: left;
}

.sidebar {
    width: 25%;
    float: left;
    position: relative;
    width: 11rem;
    height: 400px;
    left: 2em;
    top: 2em;
}

.aside__list {
    margin-left: auto;
    padding: 0;
}

.sidebar__item {
    line-height: 2em;
    list-style: none;
    padding: 10px;
    /* agregar relleno a los elementos de la lista */
    border-bottom: 1px solid #ccc;
    /* agregar borde inferior a los elementos de la lista */
}

.aside__links {
    text-decoration: none;
    color: #000000;
    display: inline-block;
    position: relative;
}

.aside__links::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.aside__links:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*contenedor de la informacion de los trabajos*/
#main__trabajos {
    justify-content: right;
    display: flex;
}

.info__container {
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
    align-items: flex-start;
}

.info__paragraph {
    line-height: 1.7;
    margin-bottom: 15px;
    text-align: left;
}

.info__picture {
    max-width: 200px;
}

.info__img {
    width: 100%;
    display: block;
}

.info__img:hover {
    transform: translateY(-20px);
    opacity: 0.7;
    transition: transform 0.8s, opacity 0.8s;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}

.titulo__descripcion {
    width: 100%;
    position: relative;
    top: 20%;
}

.info__trabajo {
    width: 90%;
}

#Investigaciones {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    margin-left: -1em;
}

#Libros {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

#Articulos {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

/*.modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #111111bd;
        display: flex;
        opacity: 0;
        pointer-events: none;
        transition: opacity .5s;
    }*/

/*.modal__show {
        opacity: 1;
        pointer-events: unset;
        transition: opacity .5s;
    }*/

/*.modal__container {
        width: 95%;
        background-color: #fff;
        margin: auto;
        max-width: 700px;
        max-height: 95%;
        border-radius: 6px;
        padding: 0.5em 0.5em;
        display: grid;
        gap: 1em;
        place-items: center;
        grid-auto-columns: 100%;
    }*/

/*.modal__pdf {
        width: 680px;
        max-width: 680px;
        height: 550px;
        max-height: 550px;
    }*/

.modal__close {
    text-decoration: none;
    color: #fff;
    background-color: #F26250;
    padding: 0.5em 3em;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 200;
    transition: background-color .3s;
}

.modal__close:hover {
    color: #F26250;
    background-color: #fff;
}

.cards {
    display: flex;
    height: 100%;
    align-items: center;
    font-family: sans-serif;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -25px;
}

.card {
    width: 100%;
    border-radius: 6px;
    margin: 25px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
    min-width: 300px;
    max-width: 300px;
    height: 100%;
    min-height: 420px;
    max-height: 600px;
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.card__img {
    width: 100%;
    height: 235px;
    min-height: 100px;
    max-height: 300px;
}

.card__title {
    padding: 15px;
    text-align: center;
    font-weight: 400;
}

.card__paragraph {
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    height: 80%;
}

.modal__open {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2FB4CC;
    border: 1px solid #2FB4CC;
    border-radius: 4px;
    transition: all 400ms ease;
}

.modal__open:hover {
    background: #2FB4CC;
    color: #fff;
}

/*---------------- Contenido de Documentos --------------------*/

#Documentos {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.doc__summary {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

.doc__description {
    margin-left: 5em;
    width: 60%;
}

.doc__image {
    width: 21em;
    height: 23em;
    margin-left: 2em;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 2px gray;
}

.doc__frame {
    width: 720px;
    height: 1080px;
}

.frame__container {
    display: grid;
    place-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.doc__title {
    text-align: center;
    margin: 2em;
}

.separator {
    text-align: center;
}

.title__separator {
    display: inline-block;
    position: relative;
}

.title__separator::after,
.title__separator::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: currentColor;
    text-align: center;
    top: 0.6em;
}

.title__separator::before {
    left: -140px;
}

.title__separator::after {
    right: -140px;
}

.doc__img {
    width: 100%;
    height: 20em;
    margin: 0 auto;
    background-image: url(https://bibliotecas.uabc.mx/wp-content/uploads/2021/01/untitled-0374-e1652295256463.jpg?id=9612) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.articulo__img {
    width: 100%;
    height: 20em;
    margin: 0 auto;
    background-image: url("../images/varias/Revista.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.inv__img {
    width: 100%;
    height: 20em;
    margin: 0 auto;
    background-image: url("../images/varias/Cientifico.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.trab__img {
    width: 100%;
    height: 20em;
    margin: 0 auto;
    background-image: url(https://bibliotecas.uabc.mx/wp-content/uploads/2021/02/untitled-0358-min.jpg?id=10653) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* --------------Muestra del evento-------------*/
.show_info {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.box_info {
    margin-bottom: 10px;
    padding: 20px;
    background-color: #e6e6e6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.imagen__evento {
    flex: 0 0 50%;
}

.imagen__evento img {
    max-width: 100%;
}

.informacion__evento {
    flex: 0 0 50%;
    padding-left: 3%;
}

/* --------------Contenido de Noticias -------------*/
#eventos {
    justify-content: center;
    display: flex;
}

/* --------------Contenido de Miembros -------------*/
#miembros {
    justify-content: center;
    display: flex;
}

.cards__miembros {
    display: flex;
    height: 100%;
    align-items: center;
    font-family: sans-serif;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -25px;
}

.card__miembro {
    width: 100%;
    border-radius: 6px;
    margin: 50px;
    overflow: visible;
    cursor: default;
    transition: all 400ms ease;
    min-width: 300px;
    max-width: 300px;
    height: 100%;
    min-height: 380px;
    max-height: 600px;
}


.img__miembro__container {
    display: flex;
    justify-content: center;
}

.card__miembro__img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 150px;
}

.card__miembro__img:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-1%);
    transition: transform 0.3s, opacity 400ms ease;
    z-index: 2;
    position: relative;
}

.card__miembro__title {
    padding: 15px;
    text-align: center;
    font-weight: 700;
}

.card__miembro__paragraph {
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    height: 80%;
}


/* --------------Contenido de Noticias -------------*/
#eventos {
    justify-content: center;
    display: flex;
}

/* --------------Contenido de Miembros -------------*/
#miembros {
    justify-content: center;
    display: flex;
}

.cards__miembros {
    display: flex;
    height: 100%;
    align-items: center;
    font-family: sans-serif;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -25px;
}

.card__miembro {
    width: 100%;
    border-radius: 6px;
    margin: 50px;
    overflow: visible;
    cursor: default;
    transition: all 400ms ease;
    min-width: 300px;
    max-width: 300px;
    height: 100%;
    min-height: 380px;
    max-height: 600px;
}


.img__miembro__container {
    display: flex;
    justify-content: center;
}

.card__miembro__img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 150px;
}

.card__miembro__img:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-1%);
    transition: transform 0.3s, opacity 400ms ease;
    z-index: 2;
    position: relative;
}

.card__miembro__title {
    padding: 15px;
    text-align: center;
    font-weight: 700;
}

.card__miembro__paragraph {
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    height: 80%;
}

/* ------------------------------ Contenido del nosotros ------------------------ */
.nosotros__container {
    margin: 0 auto;
    height: 100%;
    display: flex;
    width: 100%;
}

.nosotros__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.nosotros__nav {
    display: block;
    width: 10em;
    height: 11em;
    margin-top: 2.5em;
    margin-left: 0.5em;
    padding-top: 1em;
    text-align: center;
}

.nosotros__links {
    display: grid;
    place-items: center;
    text-decoration: none;
    color: black;
    position: relative;
    transition: transform 0.3s, opacity 400ms ease;
}

.nosotros__nav:hover>.nosotros__links {
    opacity: 0.3;
}

.nosotros__nav:hover>.nosotros__links:hover {
    transform: translateY(-5px);
    text-decoration-style: double;
    opacity: 1;
}

.hr__nav {
    width: 8em;
    margin: 1em;
}

.nosotros__imagen {
    width: 28.5em;
    height: 25em;
    display: flex;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.quienes__container {
    display: flex;
    margin-top: 2.5em;
}

.quienes__p {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: calc(35em - 20px);
    margin-left: 1em;
}

.quienes__paragraph {
    margin-bottom: 12em;
    margin-top: 8em;
    width: 33em;
}

.mision__container {
    display: flex;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.mision__p {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: calc(35em - 15px);
    margin-right: 1em;
}

.vision__imagen {
    width: 32.5em;
    height: 22em;
    display: flex;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.vision__paragraph {
    margin-bottom: 12em;
    margin-top: 8em;
    width: 32em;
}

.ubi__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ubicacion {
    margin-bottom: 5em;
    border-radius: 50px;
    margin-top: 5em;
}

.ubicacion__titulo {
    text-align: center;
    margin-bottom: 2.5em;
    margin-top: 1em;
}

.origen__container {
    display: grid;
    place-items: center;
    text-align: center;
    padding: 1.5em;
}

.origen__paragraph {
    margin-top: 5em;
}

.nombre__container {
    text-align: center;
    margin-top: 2em;
}

.nombres {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    width: 60em;
    margin-top: 3em;
    margin-bottom: 2.5em;
}

.nombre {
    margin-left: 10em;
}

.logos {
    width: 25em;
    height: 25em;
    margin-top: 1em;
}

.separacion {
    flex-wrap: nowrap;
    width: 95%;
    margin-left: 1em;
}

#Universidad {
    text-align: center;
}

.universidad__container {
    margin-top: 2em;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.UABC__logo {
    width: 30em;
    height: 40em;
}

.p__rector {
    margin-top: 4em;
    width: 35em;
}

/* ------------------------------ Contenido de sección de Contacto ------------------------ */

#Contacto {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.contacto__img {
    width: 100%;
    height: 30em;
    margin: 0 auto;
    background-image: url("../images/varias/Contacto.jpg") !important;
    background-size: cover;
}

form {
    padding: 40px 0;
}

.form {
    width: 100%;
    margin: auto;
}

form .grupo {
    position: relative;
    margin: 45px;
}

input {
    background: none;
    color:#c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
}

textarea {
    background: none;
    color:#c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
}

input:focus {
    outline: none;
    color: #5e5d5d;
}

textarea:focus {
    outline: none;
    color: #5e5d5d;
}

label {
    color: black;
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
}

input:focus~label, input:valid~label {
    top: -14px;
    font-size: 12px;
    color: #80FA14;
}

textarea:focus~label, textarea:valid~label {
    top: -14px;
    font-size: 12px;
    color: #80FA14;
}

.barra {
    position: relative;
    display: block;
    width: 100%;
}

.barra::before {
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: #80FA14;
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before {
    width: 100%;
}

textarea:focus~.barra::before {
    width: 100%;
}

button {
    background-color: #3D4536;
    color: #ffff;
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s ease;
}

button:hover {
    background-color: #80FA14;
}

.contacto__title {
    margin: 2em auto;
    text-align: center;
}

.contacto__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#Form {
    display: inline-block;
    width: 45%;
    max-width: 47%;
}

.media__container {
    display: flex;
    margin-bottom: 2em;
}

.media__title {
    color: white;
    text-align: center;
    font-size: 17px;
}

.media {
    width: 83%;
    max-width: 90%;
    height: 100%;
    background-image: url("../images/varias/Redes Sociales 3.jpg") !important;
    background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 0.5em;
}

.social {
    width: 100px;
    height: 100px;
    margin-top: 2em;
}

/*Modal de la pagina de miembros

#button_modal {
    width: 120px;
    background-color: #47a386;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
}

#button_modal:hover {
    cursor: pointer;
}
*/
.modal-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}

.showModal {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: #fff;
    display: grid;
    justify-content: center;
    width: 550px;
    height: 650px;
    min-height: auto;
    max-width: 100%;
    min-height: fit-content;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal h1 {
    margin: 0;
}

.modal p {
    opacity: 0.7;
    font-size: 14px;
}

.modal .modal__miembro__img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/*------------------- Sección de Vinculación --------------------*/

#Vinculacion {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.vinculacion__img {
    width: 100%;
    height: 30em;
    margin: 0 auto;
    background-image: url("../images/varias/Vinculacion.jpg") !important;
    background-size: cover;
    background-color: rgb(50, 50, 50);
    background-blend-mode: soft-light;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.vinculacion__title {
    color: #fff;
    font-size: 5em;
    font-weight: 500;
}

.vinculacion__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    flex-direction: column;
}

.ca__img {
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
    border-radius: 5px;
    vertical-align: middle;
}

.table, .th, .td {
    padding: 1rem;
    border-collapse: collapse;
    text-align: center;
}

.table__container {
    width: 82vw;
    height: 90vh;
    background-color: #fff5;
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
}

.table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
    text-align: center;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}

.table__body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.table {
    width: 100%;
}

.th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
}

.tr:nth-child(even) {
    background-color: #0000000b;
}

.tr:hover {
    background-color: #fff6;
}

.download {
	background: lawngreen;
	color: #000;
	border-radius: 20px;
	text-decoration: none;
	font-weight: 500;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1000px) {
    .td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}